# Ignore .env files
.env

# Ignore Python bytecode files
*.pyc
*.pyo
*.pyd

# Ignore Jupyter Notebook checkpoints
*.ipynb_checkpoints

# Ignore pandas and other library caches
.pandas
.cache

.venv

elt_process.log

1.Raw
2.Staging
3.Report
4.Final_Report